{{#if notEmpty}}
  {{filteredContent.length}} Items from {{filteredProducts.length}} Products

  <div class="row">
    <div class="col-xs-12">
      <div class="checkboxes text-right">
        {{#each productCheckboxes}}
          <label>
            {{input type='checkbox' checked=isChecked}}
            {{product.displayName}}
          </label>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Size</th>
          <th class="items-id">ID</th>
          <th>Title</th>
          <th class="items-product">Product</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each filteredContent}}
          <tr>
            <td><span class="badge">{{score}}</span></td>
            <td>
              <a {{bind-attr href=sprintlyUrl}} target="_blank">
                {{number}}
                <i class="glyphicon glyphicon-share"></i>
              </a>
            </td>
            <td>{{title}}</td>
            <td>{{product.displayName}}</td>
            <td>{{status}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{else}}
  Loading all items for {{products.length}} Products...
{{/if}}
