{{controller.length}} Items from {{products.length}} Products

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Title</th>
      <th>Product</th>
      <th>Status</th>
      <th>Sprint.ly</th>
    </tr>
  </thead>
  <tbody>
    {{#each controller}}
      <tr>
        <td><span class="badge">{{score}}</span> {{title}}</td>
        <td>{{product.displayName}}</td>
        <td>{{status}}</td>
        <td>
          <a {{bind-attr href=sprintlyUrl}} target="_blank">
            <i class="glyphicon glyphicon-share"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
